body {
  color: #555;
  padding: 10px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i {
  font-style: italic;
}

h2 {
  font-family: Avalon, sans-serif;
}

h5 {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

nav {
  display: block;
}

.nav {
  background: #fff;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
  height: 48px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.nav-logo {
  left: 0;
  position: absolute;
  top: 0;
}

.nav-logo img {
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  display: block;
  height: 16px;
  position: relative;
  width: 66px;
  will-change: transform;
  z-index: 999;
}

.nav-logo a {
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  display: block;
  height: 48px;
  padding: 16px 20px;
  width: 106px;
  will-change: height;
}

.nav-icon {
  float: right;
}

.nav-icon li {
  border-left: 1px solid #eee;
  float: left;
}

.nav-icon li a {
  display: block;
  height: 48px;
  padding: 16px;
  width: 48px;
  will-change: opacity;
}

.nav-mob-toggle {
  transition: transform 0.4s, -webkit-transform 0.4s;
  opacity: 1 !important;
  position: relative;
  z-index: 998;
}

.icon--search--dark {
  background-position: -848px -848px;
}

.icon {
  display: block;
  background-size: 1296px 1296px;
  width: 16px;
  height: 16px;
}

.wrapper {
  padding: 5px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: 100%;
}
.wrapper h1 a {
    color: #f42
}


.article-pic, .ad-pic {
    background-image: url("./image/tech.jpg");
    opacity: 1;
    flex: 0 0 96px;
    background-position: 50%;
    background-size: cover;
    height: 96px;
    width: 96px;
}

.popular-section {
    padding: 10px 14px 0px;
    background-color: #fdf3f0;
}

.popular-section h5,.popular-section h4 a {
    color: #f42;
}

.popular-header {
    background:linear-gradient(to top, black, transparent),
      url(./image/tech.jpg);
    background-size: 100% 100%;
    height: 70vh;
    width: auto;
    z-index: 2;
    padding: 30% 0 0 5px;
}

.popular-header h5 {
    color: #fff;
}

.popular-header h3 a {
   color: #fff;
   font-weight: bold;
}
.author li, .author li a {
    color: rgba(255,255,255,0.6);
}

.author, .price {
    display: flex;
    padding-left: 0px;
}
.author li, .price span {
    padding-right: 10px;
}

.popular-section h5 {
    font-size: 13px;
}

.section-2, .ad-section {
    display: flex;
}

.article-links {
    padding-left: 0px;
}

.article-links li {
    border-bottom: 1px solid #eee;
}

.article-links li h4 a {
    color: #555555;
    display: block;
    position: relative;
}

.article-links li h4 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    padding-left: 5px;
    
}

.ads {
    padding: 5px;
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
  }

.article-links li h4 a:before {
    content: "\2022";
    color: #f42;
    font-weight: bold;
    display: inline-block;
    width: 0.9em;
  }
  
  .article-links li h4 a:hover {
    color: black;
  }

  .ad-text h4 a {
      color: black;
    font-size: 14px!important;
    font-weight: 700;
    line-height: 18px!important;
    margin-bottom: 1px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .price span {
    color: #555;
    font-size: 14px;
    margin-top: 5px;
  }
  .ad-text {
      padding-left: 10px;
  }
  .old-price {
      text-decoration: line-through;
  }

  .ad-header h1{
    float: left;
    line-height: 32px;
    font-weight: 700;
    font-family: Avalon,sans-serif;
    font-size: 28px;
    letter-spacing: -.015em;
}
.ad-header h5 a {
    float: right;
    line-height: 18px;
    margin-top: 11px;
}
  .ad-header h1 a, .ad-header h5 a{
      color: #f42;
  }
  footer {
      text-align: center;
      transition: transform .5s ease,-webkit-transform .5s ease;
    position: relative;
    will-change: transform;
    z-index: 4;
    display: block;
  }
  .footer-links {
    background: #131313;
    padding: 2.5em 0;
  }
  .social-wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
  }
  .footer-links-social {
    margin-bottom: 1.5em;
}
.footer-links-social li {
    display: inline-block;
    margin: 0 3px;
}
.footer-links-social li a{
    background: #333;
    border-radius: 50%;
    display: block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;
}
.footer-links-social li a .icon {
    height: 16px;
    width: 16px;
}
.icon {
    display: block;
    background: transparent url(../img/icons-sprite.svg?1520429355783) no-repeat;
    background-size: 1296px 1296px;
}
.icon--twitter--light {
    background-position: -1024px -1024px;
}
.icon--facebook--light {
    background-position: -272px -272px;
}
.icon--youtube--light {
    background-position: -1280px -1280px;
}
.icon--instagram--light {
    background-position: -416px -416px;
}
.icon--pinterest--light {
    background-position: -672px -672px;
}
.icon--rss--light {
    background-position: -816px -816px;
}
.icon--mail--light {
    background-position: -576px -576px;
}
.footer-links-menu li {
    font-family: Shentox,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    margin: 0 4px;
}
.footer-links-menu li a{
    color:#aaa;
}
.footer-legal {
    background: #000;
    color: #aaa;
    font-size: 13px;
    padding: 2.5em 0;
}
.legal-wrapper {
    margin: 0 auto;
    max-width: 1192px;
    padding: 0 20px;
}
.footer-legal span {
    display: block;
}
.footer-legal-logoTNW {
    display: inline-block;
    height: 9px;
    margin-right: 1px;
    vertical-align: baseline;
}
b{
    font-weight: 700;
}
.footer-legal-logoStackPath, .footer-legal-logoTNW {
    display: inline-block;
    height: 9px;
    margin-right: 1px;
    vertical-align: baseline;
}


  
  
  